.requestDetailsMain_wrapper{
    width: 100%;
    margin: 0 auto;
}
.requestDetailsMainheading{
    width: 100%;
    display: flex;
    align-items: center;
    height: 8rem;
    background-color: #87CEEB;
    margin: 0 auto;
    min-width: 320px;
}
.requestDetailsMainheading h1{
    color: #ffff;
    font-size: 52px;
    font-weight: 700;
    text-align: left;
    margin-left: 1rem;
    padding: 0 !important;
    margin: 0 !important;
}
.requestDetails_emptyheadingdiv{
    width: 6px;
    height: 4rem;
    background-color: white;
    opacity: 0.5;
    margin-right: 1rem;
    margin-left: 4.6rem;
}
.requestDetailsSubheading{
   
    width: 95%;
    margin: 2rem auto;
    
}
.requestDetailsSubheading h2{
    /* margin-left: 3rem; */
    text-align: left;
    padding: 0;
    margin: 0;
}
.promotion_Image_heading{
    width: 95%;
    margin: 2rem auto;
}
.promotion_Image_heading h3{
    /* margin-left: 3rem; */
    text-align: left;
    padding: 0;
    margin: 0;
}
.requestDetails_Image_Grid{
    display: flex;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
    box-shadow: inset 0px 0px 5px 0px;
}
.requestDetails_Image_Grid_Innerflex{
    display: flex;
    gap: 10px;
}
.requestDetails_Image_Grid_Innerdiv img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 5px;
}
.requestDetails_Image_Grid_Innerdiv{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.requestDetails_Image_Grid_Innerdiv button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.requestDetailsbannerImage_heading{
    width: 50%;
    margin: 0 auto;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
.requestDetails_bannerImage{
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px 0px;
    padding: 5px;
}
.requestDetails_bannerImage img{
    border-radius: 5px; 
}
.requestDetailsPaymentImage_heading{
    width: 50%;
    margin: 0 auto;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
.requestDetailsPaymentImage{
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px 0px;
    padding: 5px;
}
.requestDetails_Button{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.requestDetails_Button div{
    width: 33%;
}
.requestDetails_Button Button{
    background-color: #6bdcfc;
    color: #ffff;
    border: none;
    height: 2.5rem;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 1.3rem;
}
.requestDetails_Button Button:hover{
    background-color: #6bdcfc;
}
.requestDetails_Dialoge__box Button{
    text-align: left !important;
    background-color: #6bdcfc;
    color: #ffff;
    margin-right: 0.5rem;
    margin-left: 0;
    margin-bottom: 0;
}
.req_Det_div1{
    
    width: 52% !important;
    margin-top: 3rem;
    
    margin-left: 11rem;
}
.requestDetails_Dialoge__box .texxt{
    text-align: center;
    margin-top: 2rem;
}
.texxt h3{
    color: green;
}
.requestDetails_Dialoge__box{
    display: flex;
}
.requestDetails_Dialoge__box Button:hover{
    background-color: #6bdcfc;
}
.requestDetails_modal_box{
    width: 350px;
}
.req_details_ooo{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    overflow-y: scroll !important;
    margin: 0 auto;
}
.req_details_kkk{
    width: 100%;
}
.req_details_ooo::-webkit-scrollbar {
    width: 5px;
}
@media (max-width:1199px) {
    .requestDetails_Image_Grid{
        display: block;
    }
    .req_details_ooo{
        width: 90%;
        height: 40%;
        margin: 0 auto;
        top: 40%;
        left: 3%;
        overflow-y: scroll !important;
        
    }
    .req_details_kkk{
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
    .requestDetailsMainheading h1{
        font-size: 25px;
    }
    
}
@media (min-width:2000px){
    .requestDetails_Image_Grid{
        width: 95%;
        margin: 0 auto;
    }
    .req_details_ooo{
        width: 90%;
        height: 500px;
        margin: 0 auto;
        top: 30%;
        left: 5%;
        overflow-y: scroll !important; 
    } 
    .requestDetailsSubheading h2{
        font-size: 3rem;
    }
    .promotion_Image_heading h3{
        font-size: 2rem;
    }
    .requestDetailsbannerImage_heading h3{
        font-size: 2rem;
    }
    .requestDetailsPaymentImage_heading h3{
        font-size: 2rem;
    }
    .requestDetails_Button{
        margin-bottom: 2rem;
    }
}
@media  (min-width:2560px){
    .requestDetails_Image_Grid{
        width: 95%;
        margin: 0 auto;
    }
    .req_details_ooo{
        width: 90%;
        height: 40%;
        margin: 0 auto;
        top: 40%;
        left: 5%;
        overflow-y: scroll !important; 
    }
    .requestDetailsSubheading h2{
        font-size: 3.5rem;
    }
    .promotion_Image_heading h3{
        font-size: 2.5rem;
    }
    .requestDetailsbannerImage_heading h3{
        font-size: 2.5rem;
    }
    .requestDetailsPaymentImage_heading h3{
        font-size: 2.5rem;
    }
    .requestDetails_Button{
        margin-bottom: 2rem;
    }
}

@media (max-width:600px) {
    .requestDetails_Image_Grid_Innerflex{
        display: block;
    }
    .requestDetailsMainheading h1{
        font-size: 20px;
    }
    .requestDetails_bannerImage{
        width: 95%;
    }
    .requestDetailsPaymentImage{
        width: 95%;
    }
    .requestDetailsbannerImage_heading{
        width: 95%;
    }
    .requestDetailsPaymentImage_heading{
        width: 95%;
    }
    .req_details_ooo{
        width: 95%;
        height: 300px;
        margin: 0 auto;
        top: 40%;
        left: 3%;
        overflow-y: scroll !important;
        
    }
    .req_details_kkk{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .requestDetailsSubheading{
   
        width: 95%;
        margin: 2rem auto;
        
    }
    .requestDetailsSubheading h2{
        /* margin-left: 3rem; */
        text-align: left;
        padding: 0;
        margin: 0;
    }
    .promotion_Image_heading{
        width: 95%;
        margin: 2rem auto;
    }
    .promotion_Image_heading h3{
        /* margin-left: 3rem; */
        text-align: left;
        padding: 0;
        margin: 0;
    }
    .requestDetails_Button{
        display: block;
    }
    .requestDetails_Button div{
        width: 95%;
        margin: 0 auto;
        margin-bottom: 1rem;

    }
    .requestDetails_Button Button{
        background-color: #6bdcfc;
        color: #ffff;
        border: none;
        height: 2.5rem;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        width: 100%;
        font-size: 1.3rem;
    }
    .requestDetails_emptyheadingdiv{
        margin-left: 3.7rem;
        margin-top: 0px;
    }
    .requestDetailsSubheading h2{
        font-size: 18px;
    }
    .promotion_Image_heading h3{
        font-size: 16px;
    }
    .requestDetailsbannerImage_heading h3{
        font-size: 16px;
    }
    .requestDetailsPaymentImage_heading h3{
        font-size: 16px;
    }
    .requestDetails_emptyheadingdiv{
        height: 2.5rem;
    }
}
@media (max-width:370px) {
    .requestDetails_modal_box{
        width: 80%;
    }
    .req_Det_div1{
        width: 100% !important;
        margin-top: 3rem;
        margin-left: 5rem;
    }
}
@media (max-width:390px) {
    .requestDetailsMainheading h1{
        font-size: 14px;
        font-weight: 700;
    }
    .requestDetailsSubheading h2{
        font-size: 14px;
    }
    .promotion_Image_heading h3{
        font-size: 12px;
    }
    .requestDetailsbannerImage_heading h3{
        font-size: 12px;
    }
    .requestDetailsPaymentImage_heading h3{
        font-size: 12px;
    }
}
@media (max-width:414px){
    .requestDetailsMainheading h1{
        font-size: 16px;
        font-weight: 700;
    }
}
