.reqPaidlist-mainwrapper{
    width: 100%;
    margin: 0 auto;
}
.reqPaidlist_headding{
    width: 100%;
    display: flex;
    align-items: center;
    height: 8rem;
    background-color: #87CEEB;
    margin: 0 auto;
    min-width: 300px !important;
}
.reqPaidlist_headding h1{
    color: #ffff;
    font-size: 52px;
    font-weight: 700;
    text-align: left;
    margin-left: 1rem;
    padding: 0 !important;
    margin: 0 !important;
}
.emptyheadingdiv{
    width: 6px;
    height: 4rem;
    background-color: white;
    opacity: 0.5;
    margin-right: 1rem;
    margin-left: 4.6rem;
}
.reqPaidlist_container{
    width: 95% !important;
    margin: 2rem auto;
    margin-bottom: 8rem;
}
.reqPaidlist_container th{
    font-size: 1.5rem !important;
}
.reqPaidlist_container button{
    background-color: #6bdcfc;
    color: #ffff;
    border: none;
    height: 2.5rem;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
}
.reqPaidlist_container td{
    font-size: 1.1rem;
    color: #4d4d4d;
    font-weight: 600 !important;
}
@media  (min-width:2000px) {
    .reqPaidlist_container td{
        font-size: 2rem;
        color: #4d4d4d;
        font-weight: 600 !important;
    }
    .reqPaidlist_container th{
        font-size: 2.5rem !important;
    }
    .reqPaidlist_container button{
        background-color: #6bdcfc;
        color: #ffff;
        border: none;
        height: 3.5rem;
        border-radius: 5px;
        cursor: pointer;
    }
}
@media  (max-width:1199px){
    .reqPaidlist_headding h1{
        font-size: 40px;
    }
    .emptyheadingdiv{
        margin-bottom: 6px;
    }
}
@media  (max-width:600px){
    .reqPaidlist_headding h1{
        font-size: 30px;
    }
    .emptyheadingdiv{
        margin-bottom: 2px;
        margin-left: 3.8rem;
    }
    .emptyheadingdiv{
        height: 2.5rem;
        margin-top: -1px;
    }
    .reqPaidlist_container th{
        font-size: 12px !important;
    }
    .reqPaidlist_container td{
        font-size: 10px;
        color: #4d4d4d;
        font-weight: 700 !important;
    }
    .reqPaidlist_container button{
        font-size: 10px;
        font-weight: 700;
    }
}
@media  (max-width:450px){
    .reqPaidlist_container button{
        font-size: 8px;
        font-weight: 700;
    }
}
@media (max-width:390px) {
    .reqPaidlist_headding h1{
        font-size: 18px;
    }
}
