/* userlist header */
.userList_header {
    width: 100%;
    height: 7rem;
    background-color: #6bdcfc;
    margin-bottom: 2rem;
    padding-left: 6rem;
    position: relative;
}

.userList_header h1 {
    text-align: left;
    font-size: 52px;
    font-weight: 700;
    color: #ffff;
    text-transform: uppercase;
    left: -19px;
    top: 8px;
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 3px;
}

.userList_header h1:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 4rem;
    background-color: #ffff;
    left: -19px;
    top: 9px;
    opacity: 0.5;
}

/* end header */

.userList-viewMore_option a {
    color: #6bdcfc;
    margin: 0;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.4;
}

.userList-viewMore_option {
    display: flex;
    align-items: end;
    position: absolute;
    right: 5px;
    bottom: 4px;
}

.userList-user_card {
    height: 6rem;
    /* border: 1px solid #6BDCFC; */
    box-shadow: rgb(60 64 67 / 30%) 0px 0px 0 0px, rgb(60 65 67 / 15%) 10px 3px 11px 4px;
    border-bottom: 5px solid #6bdcfc;
    border-right: 5px solid #6bdcfc;
    border-radius: 9px;
    padding-top: 4px;
    padding-left: 4px;
    display: flex;
    position: relative;
}

.userList-userImage {
    width: 5rem;
    flex-direction: column;
}

.userList-user_name {
    padding-top: 7px;
    padding-left: 1rem;
}

.userList-user_name h5 {
    margin: 0;
}

.userList-userImage img {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    border-radius: 6px;
}

/* search bar */
.userList-searchBar {
    height: 3rem;
    border: 1px solid #6bdcfc;
    margin-bottom: 2rem;
    position: relative;
}

.userList-search_icon {
    width: 3rem;
    padding: 8px;
    border-left: 1px solid #6bdcfc;
    position: absolute;
    right: -1px;
    height: 3rem;
    top: 0;
}

.userList-search_input {
    width: 201px;
}

.userList-search_input input {
    width: 100%;
    height: 2.8rem;
    border: none;
    padding: 16px;
    font-size: 17px;
}

.userList-search_input input:focus {
    outline: none;
}

@media (min-width: 600px) and (max-width: 768px) {
    .userList-search_input {
        width: 147px;
    }
}

@media (max-width: 598px) {
    .userList_header{
        padding-left: 5rem;
    }
    .userList-search_input {
        width: 100%;
    }

    .userList-search_icon {
        background-color: #ffff;
    }

    .userList-search_icon {
        border-bottom: 1px solid #6bdcfc;
        border-right: 1px solid #6bdcfc;
    }

    .userList_header h1 {
        font-size: 36px;
        padding-top: 1rem;
    }
}
.main_userList {
    margin-bottom: 3rem;
}
.userList-viewMore_option a:hover {
    color: #6bdcfc !important;
}
