.container-frgt{
    margin-left: auto;
    margin-right: auto;
     max-width: 660px;
     border-top: 1px solid #6BDCFC;
   margin-top: 7rem;
  }
  
.errormsgleft3-1{
    margin-top: 4rem;
    font-size: 13px;
    position: absolute;
    color: red;
    font-weight: 500;
    margin-left: -39rem;
   }
      
          
   #contact input[type="text"],
   #contact input[type="email"],
   #contact input[type="password"],
   #contact input[type="url"],
   #contact textarea,
  #contact button[type="submit"] {
           
            font-family: 'Open Sans', sans-serif !important;
          }
          
          #contact {
            background: white;
            padding: 15px;
            /* margin: 50px 0; */
           border: 1px solid #6BDCFC;
           border-top: none;
           margin-bottom: 9rem;
          }
                 
          
          
          #fieldset-style {
            border: medium none !important;
            margin: 0 0 10px 25px;
            min-width: 100%;
            padding: 0;
            width: 90%;
          }
          
          #contact input[type="text"],
          #contact input[type="email"],
          #contact input[type="password"],
          #contact input[type="url"],
          #contact textarea {
            width: 90%;
            border: 1px solid #ccc;
            background: #FFF;
            margin: 10px 0 5px;
            padding: 10px;
            font-size: 16px;
          }
          
          #contact input[type="text"]:hover,
          #contact input[type="email"]:hover,
          #contact input[type="password"]:hover,
          #contact input[type="url"]:hover,
          #contact textarea:hover {
            -webkit-transition: border-color 0.3s ease-in-out;
            -moz-transition: border-color 0.3s ease-in-out;
            transition: border-color 0.3s ease-in-out;
            border: 1px solid #6BDCFC;
          }
          
          #contact textarea {
            height: 100px;
            max-width: 100%;
            resize: none;
          }
          
          #contact button[type="submit"] {
              font-family: 'Open Sans', sans-serif !important;
            cursor: pointer;
            width: 90%;
            border: none;
            background: #6BDCFC;
            color: #FFF;
            margin: 10px 0 5px;
            padding: 10px;
            font-size: 15px;
            height: 42px;
          }
       
          
          #contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}
          
          #contact button[type="submit"]:active {
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
          }
          
  @media only screen and (max-width: 1000px){
  
    .container-frgt{
      max-width: 500px;
    }
    .errormsgleft3-1{
        margin-left: -28rem;
    }
  }
  @media only screen and (max-width: 500px){
    .container-frgt{
      max-width: 360px;
    }
    #contact input[type="email"]{
      font-size: 14px;
    }
    .errormsgleft3-1{
        margin-left: -20rem;
    }
    #fieldset-style{
      margin: 0 0 10px 15px;
    }
  }  

  